# Actividad - Trabajando con Series de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

### **Actividad 1:** 

Crear Series desde diferentes estructuras.
* Crea una Series con los números del 1 al 5
* Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [ ]:

#?Crea una Series con los números del 1 al 5
import pandas as pd
numero_series = pd.Series([1,2,3,4,5])
print("Los numero en serie son:")
print(numero_series)

#? Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.
diccionario_paises = {
    "Argentina": "Buenos Aires",
    "Colombia": "Bogota",
    "Chile": "Santiago",
    "Peru": "Lima",
    "Brasil": "Brasilia"
}
diccionario_paises = pd.Series(diccionario_paises)
print("Los paises y sus capitales son:")
print(diccionario_paises)

Los numero en serie son:
0    1
1    2
2    3
3    4
4    5
dtype: int64
Los paises y sus capitales son:
Argentina    Buenos Aires
Colombia           Bogota
Chile            Santiago
Peru                 Lima
Brasil           Brasilia
dtype: object

### **Actividad 2:** 
Acceso y selección de elementos.
* Usa una Series con tareas (que haceres cotidianos) de una semana
* Accede a diferentes elementos a elección.
* Cambia los valores de los dias pares.

In [ ]:
#* Accede a diferentes elementos a elección

tarea_cotidianas = pd.Series( {
    "Lunes": "Limpiar el baño",
    "Martes": "Sacar al perro",
    "Miercoles": "Pasear al perro",
    "Jueves": "Sacar al gato",
    "Viernes": "Pasear al gato",
    "Sabado": "Pasear al perro",
    "Domingo": "Pasear al gato"
})
#* Accede a diferentes elementos a elección

print("Las tareas de los lunes son:")
print(tarea_cotidianas["Lunes"])
print("Las tareas de los viernes son:")
print(tarea_cotidianas["Viernes"])

#* Cambia los valores de los dias pares.
tarea_cotidianas["Martes"] = "Limpiar la cocina"
tarea_cotidianas["Jueves"] = "Limpiar la casa"
tarea_cotidianas["Sabado"] = "Lavar la ropa"

print("La Lista de tareas actualizada es:")
print(tarea_cotidianas)

Las tareas de los lunes son:
Limpiar el baño
Las tareas de los viernes son:
Pasear al gato
La Lista de tareas actualizada es:
Lunes          Limpiar el baño
Martes       Limpiar la cocina
Miercoles      Pasear al perro
Jueves         Limpiar la casa
Viernes         Pasear al gato
Sabado           Lavar la ropa
Domingo         Pasear al gato
dtype: object

### **Actividad 3:**
Operaciones aritméticas. 
* Realiza las operaciones basicas con 2 series cuales quieran.
* Eleva los valores de la primer serie a 3 potencias difetentes.

In [9]:
serie1 = pd.Series([2, 4, 6, 8, 10])
serie2 = pd.Series([1, 3, 5, 7, 9])

suma = serie1 + serie2
resta = serie1 - serie2
multiplicacion = serie1 * serie2
division = serie1 / serie2

print("Suma de las Series:")
print(suma)
print("\nResta de las Series:")
print(resta)
print("\nMultiplicación de las Series:")
print(multiplicacion)
print("\nDivisión de las Series:")
print(division)

potencia_2 = serie1 ** 2
potencia_3 = serie1 ** 3
potencia_4 = serie1 ** 4

print("\nSerie1 elevada al cuadrado:")
print(potencia_2)
print("\nSerie1 elevada al cubo:")
print(potencia_3)
print("\nSerie1 elevada a la cuarta potencia:")
print(potencia_4)

Suma de las Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64

Resta de las Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiplicación de las Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64

División de las Series:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

Serie1 elevada al cuadrado:
0      4
1     16
2     36
3     64
4    100
dtype: int64

Serie1 elevada al cubo:
0       8
1      64
2     216
3     512
4    1000
dtype: int64

Serie1 elevada a la cuarta potencia:
0       16
1      256
2     1296
3     4096
4    10000
dtype: int64

### **Actividad 4:** 
Filtrado con condiciones.
* Crea una Series de edades de 10 personas.
* Muestra solo a los mayores de 18.
* Reemplaza a los menores por "Menor de edad".

In [ ]:
#* Crea una Series de edades de 10 personas.
edades = pd.Series([ 18,4,2,24,15,28,30,6,34,36])
#* Cambiamos la variable edaddes a tipo objeto para que pueda abmitir strings
edades = edades.astype(object)
#* Muestra solo a los mayores de 18.
mayores_de_edad =  edades[edades > 18]
print("Personas mayores de edad:")
print(mayores_de_edad)
#* Reemplaza a los menores por "Menor de edad".
edades[edades < 18] = "Menor de edad"
print("\nLa edad de persona Actualizada es:")
print(edades)

Personas mayores de edad:
3    24
5    28
6    30
8    34
9    36
dtype: object

La edad de persona Actualizada es:
0               18
1    Menor de edad
2    Menor de edad
3               24
4    Menor de edad
5               28
6               30
7    Menor de edad
8               34
9               36
dtype: object

### Actividad 5:
Estadísticas básicas.

* Crea una Series con las notas de 10 estudiantes.
* Calcula la media, mediana, desviación estándar y máximo.
* Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
* Ordenar las notas de manera ascendente y descendente.

In [ ]:

# todo: